---
eleventyExcludeFromCollections: true
title: Latest Stuff
---

{% extends "base.njk" %}

{%- block contentTitle %}
  <h1 class="title is-2">
    Latest Stuff
  </h1>
{%- endblock contentTitle %}

{%- block content %}
  {%- for post in collections.allWithData | reverse %}
    {% include "includes/postItem.njk" %}
  {%- endfor %}
{%- endblock content %}