---
eleventyExcludeFromCollections: true
title: Home
---

{% macro timestampLink(dt, linkUrl) %}
<time
  datetime="{{ dt.toUTCString() }}"
  class="subtitle is-6 mt-0 mb-4">
  <a href="{{ linkUrl }}">
    {{ dt | displayDate }}
  </a>
</time>
{% endmacro %}

{% extends "base.njk" %}

{%- block contentTitle %}{%- endblock contentTitle %}

{%- block anchorTop %}latest-post{%- endblock anchorTop %}

{%- block content %}
  {%- set allPosts = collections.all | reverse -%}
  {%- set latestPost = allPosts | first -%}

  <section class="section px-0 pt-0 latest-post">
    <header>
      <h2 class="is-subtitle has-text-grey-light">
        {{ timestampLink(latestPost.date, latestPost.url) }} in
        <a href="/{{ latestPost.data.category }}">{{ latestPost.data.postTypeTitle }}</a>
      </h2>
      <h1 class="title is-2 mb-0">{{ latestPost.data.title }}</h1>
      <div class="content is-subtitle lead my-2 has-text-grey">
        {{ latestPost.data.summary | markdownit | safe }}
      </div>
    </header>

    <div class="content my-5 post-content">
      {{ latestPost.templateContent | safe }}
    </div>
  </section>

  <section id="most-recent-stuff" class="section px-0">
    <h1 class="title is-3 wavy-underline">
      <span class="text">Most Recent Stuff</text>
    </h1>

    {%- for post in allPosts | limit(10) %}
      {% include "includes/postItem.njk" %}
    {%- endfor %}
  </section>
{%- endblock content %}