---
eleventyExcludeFromCollections: true
---

{% extends "base.njk" %}

{%- block contentTitle %}
  <h1 class="title is-2">
    Blog Posts
  </h1>
{%- endblock contentTitle %}

{%- block content %}
  {%- for post in collections.posts | reverse %}
    {% include "includes/postItem.njk" %}
  {%- endfor %}
{%- endblock content %}