---
eleventyExcludeFromCollections: true
---

{% extends "base.njk" %}

{%- block contentTitle %}
  <h1 class="title is-2">
    Presentations
  </h1>
{%- endblock contentTitle %}

{%- block content %}
  <ul>
    {%- for post in collections.presentations | reverse %}
      <li id="{{ post.slug }}"><a href="{{ post.data.location }}">{{ post.data.title }}</a></li>
    {%- endfor %}
  </ul>
{%- endblock content %}