.hack {
  font-family: 'Fira Mono', monospace;
  font-size: 1.2rem;
}

.hack, .hack blockquote, .hack code, .hack em, .hack h1, .hack h2,
.hack h3, .hack h4, .hack h5, .hack h6, .hack strong {
  font-size: 1.2rem;
}

.hack p {
  margin-bottom: 32px;
}

.main {
  flex-direction: column;
  margin-top: 30px;
}

.container {
  max-width: 54rem;
}
