<nav>
  <ul class="pages">
    {% assign pages = site.pages
      | where_exp: "page","page.categories contains 'page'"
      | sort: 'order'
    %}
    {% for page in pages %}
      <li>
        <a href="{{ page.url | relative_url }}">
          {{ page.title }}
        </a>
      </li>
      {% if page.has_subcategories %}
        {% assign collection = site.collections
          | where_exp: "c", "c.label == page.collection_label"
          | first
        %}
        {% assign categories = collection.docs
          | where: "layout", "subcategory"
        %}
        <ul class="subcategories is-hidden-touch">
          {% for d in categories %}
            <li>
              <a href="{{ d.url | relative_url }}">
                {{ d.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
