<div class="post-li">
  <div class="post-li-body">
    <section class="post-li-meta">
      <p class="date">{{ include.post.date | date: '%B %d, %Y' }}</p>
    </section>

    <section class="post-li-title">
      <h2>
        <a href="{{ include.post.url | relative_url }}">
          {{ include.post.title | escape }}
        </a>
      </h2>
    </section>

    <section class="post-li-desc">
      {% if include.post.desc %}
        <p>{{ include.post.desc | escape }}</p>
      {% endif %}
    </section>

    {% if include.post.categories %}
      <section class="post-li-categories">
        <p>Filed under:</p>
        <ul>
          {% for category in include.post.categories %}
            <li> {{ category }}</li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}
  </div>
</div>
