<div
  class="grid color-scheme-bg"
  style="background-color: {{ include.colors.bg }}">
  <div class="color-scheme-row grid cell -12of12">
    <div style="color: {{ include.colors.light_black }}">black</div>
    <div style="color: {{ include.colors.light_red }}">red</div>
    <div style="color: {{ include.colors.light_green }}">green</div>
    <div style="color: {{ include.colors.light_yellow }}">yellow</div>
    <div style="color: {{ include.colors.light_blue }}">blue</div>
    <div style="color: {{ include.colors.light_magenta }}">magenta</div>
    <div style="color: {{ include.colors.light_cyan }}">cyan</div>
    <div style="color: {{ include.colors.light_white }}">white</div>
  </div>
  <div class="cell -12of12 grid color-scheme-row">
    <div style="color: {{ include.colors.black }}">black</div>
    <div style="color: {{ include.colors.red }}">red</div>
    <div style="color: {{ include.colors.green }}">green</div>
    <div style="color: {{ include.colors.yellow }}">yellow</div>
    <div style="color: {{ include.colors.blue }}">blue</div>
    <div style="color: {{ include.colors.magenta }}">magenta</div>
    <div style="color: {{ include.colors.cyan }}">cyan</div>
    <div style="color: {{ include.colors.white }}">white</div>
  </div>
</div>
