<ul class="new-posts">
{% for post in site.documents limit: 7 %}
  {% if post.layout != 'subcategory' %}
    <li>
      <a href="{{ post.url | relative_url }}">
        {% capture date_str %}
          {% assign dt = post.date | split: ' ' %}
          {% assign date = dt[0] | split: '-' %}
          {{ date[1] }}/{{ date[2] }}/{{ date[0] }}
        {% endcapture %}
        {% if post.date_str %}
          {% assign date_str = post.date_str %}
        {% endif %}
        <span class="date">{{ date_str }}</span>
        <span class="post-info">
          <span class="collection">
            {{ post.collection | capitalize }}:
          </span>
          <span class="url">
            {{ post.title }}
          </span>
        </span>
      </a>
    </li>
  {% endif %}
{% endfor %}
</ul>
