{% extends "pageWithDateAndTitle.njk" %}

{%- block content %}
  <div class="section px-0">
    <div class="content">
      <p>This page is under construction. Sorry!</p>
      {% set colors = data.colors %}
      {% set bg = data.bg %}
      {% include "includes/themeColors.njk" %}
    </div>
  </div>
{%- endblock content %}

