.hack, .hack code, .hack em, .hack h1, .hack h2, .hack h3, 
.hack h4, .hack h5, .hack h6, .hack strong  {
  font-family: $monospace;
  font-size: 1.2rem;
}

.hack a, .hack strong, .hack em, .hack strong, .hack code {
  font-size: 1em;
}

.hack p, .hack li, .hack blockquote {
  font-family: $serif;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 2em;
}

.hack blockquote::after {
  line-height: 2em;
}

.hack {
  hr::after {
    content:
    "------------------------------------------------------------------------------------------------------------------------------------------------------------------";
  }
}


.container.header {
  margin-top: 4rem;

  header {

    h1 {
      line-height: 1rem;
      font-size: 2.6rem;
      padding-bottom: 40px;
      display: inline-block;
    }

    a {
      color: black;
      border-bottom: 0;
    }

    a:hover {
      color: $accent-color;
      background-color: transparent;
    }

  }
}

#main-header::after {
  content: none;
}

.container.main {
  max-width: 80rem;
  min-height: 5rem;

  footer p {
    font-family: $monospace;
    font-weight: 300;
    font-size: 1rem;
  }
}

.container.content {
  min-height: 700px;
  padding-bottom: 10rem;
}

.main .nav div.wrapper {
  margin-right: 2rem;
  font-size: 0.78em;
}

.main .nav .card {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card .menu {
  padding: 10px 0;

  .menu-item {
    margin: 3px 0;
    padding: 0 10px;
  }
  
  .menu-item:hover {
    color: $accent-color;
  }
}

a:hover .svg-icon {
  fill: $accent-color;
}
.svg-icon {
  width: 20px;
  height: 20px;
  fill: $menu-text-color;
}



.container .post-meta, .container header.page-header {
  margin-top: 20px;

  h1 {
    padding-top: 0;
    display: inline-block;
    font-size: 2rem;
  }
}

.inner :first-child {
  margin-top: 0;
}

.page-image {
  width: 90%;
  max-width: 40rem;
  font-size: 0.9rem;
  line-height: 1.3rem;
  margin: 0 auto;
}

.page-image img {
  max-width: 100%;
  max-height: 100%;
}

.color-scheme-bg {
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem 2rem;
  flex: 1 1 auto;
  min-height: 100px;

  .color-scheme-row {
    align-content: center;
  }
  
  .color-scheme-row > div {
    flex: 1;
    margin: auto;
    text-align: center;
  }
}

.card.color-scheme {
  margin-bottom: 20px;
  .color-scheme-title {
    color: black;
    border-bottom: 1px solid black;
  }
}

.card.color-scheme:hover {
  border-color: $accent-color;

  .color-scheme-title {
    border-bottom: 0;
    color: $accent-color;
  }
}

.color-scheme-post .post-content p:first-child {
  margin-top: 0;
}

.post-meta {
  font-size: 10px;
  color: #ccc;
}

h1.post-title {
  font-size: 1.8rem;
}

.hack .post-content {
  em, strong {
    font-family: $serif;
    font-size: 1em;
  }

  em { font-style: italic; }

  em::before, em::after {
    content: none;
  }

  code {
    display: inline-block;
    color: rgb(188, 69, 219);
    font-weight: 400;
    background-color: #f4f4f4;
    border-radius: 4px;
    font-size: 0.85em;
    padding: 3px 8px;
  }

  code::before, code::after {
    content: none;
  }

  pre code {
    background-color: unset;
    border-radius: 0;
    color: initial;
  }

  h1, h2 {
    font-size: 1.7rem;
  }

  h2, h3, h4 {
    margin-top: 1.75em;
    margin-bottom: 0;
  }

  h3, h4 {
    font-size: 1.1em;
  }
}

.hack {
  .media {

    .media-header h2 a {
      font-size: 1.4em;
    }

    .media-header h2::before {
      content: none;
    }

    .post-meta p {
      font-size: 1em;
      font-family: $monospace;
      margin-top: 0;
      margin-bottom: 0.5em;
    }

  }
}
