.hack, .hack blockquote, .hack code, .hack em, .hack h1, .hack h2, .hack h3, 
.hack h4, .hack h5, .hack h6, .hack strong {
  font-family: 'Fira Mono', monospace;
  font-size: 1.2rem;
}

.container.header {
  margin-top: 4rem;
}

.container.header header h1 {
  line-height: 1rem;
  font-size: 2.6rem;
  padding-bottom: 40px;
}

.container.main {
  max-width: 80rem;
}

.container.content {
  min-height: 700px;
}

.main .nav div.wrapper {
  margin-right: 2rem;
  font-size: 0.78em;
}

.main .nav .card {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card .menu {
  padding: 10px 0;
}

.card .menu .menu-item {
  margin: 3px 0;
  padding: 0 10px;
}

.svg-icon {
  width: 20px;
  height: 20px;
  fill: #616161;
}

a:hover .svg-icon {
  fill: #000;
}

.post-header > h2 {
  margin-top: 20px;
}

.page-image {
  width: 40rem;
  font-size: 0.9rem;
  line-height: 1.3rem;
  margin: 0 auto;
}

.page-image img {
  max-width: 100%;
  max-height: 100%;
}

.hack div > footer {
  margin-top: 20px;
  height: 20rem;
}
