.hack, .hack blockquote, .hack code, .hack em, .hack h1, .hack h2, .hack h3, 
.hack h4, .hack h5, .hack h6, .hack strong {
  font-family: $monospace;
  font-size: 1.2rem;
}

.hack {
  hr::after {
    content:
    "------------------------------------------------------------------------------------------------------------------------------------------------------------------";
  }
}


.container.header {
  margin-top: 4rem;

  header {

    h1 {
      line-height: 1rem;
      font-size: 2.6rem;
      padding-bottom: 40px;
      display: inline-block;

      ::after {
        content: none;
      }
    }

    a {
      color: black;
      border-bottom: 0;
    }

    a:hover {
      color: $accent-color;
      background-color: transparent;
    }

  }
}


.container.main {
  max-width: 80rem;
  min-height: 5rem;

  footer {
    font-size: 0.9rem;
  }
}

.container.content {
  min-height: 700px;
  padding-bottom: 10rem;
}

.main .nav div.wrapper {
  margin-right: 2rem;
  font-size: 0.78em;
}

.main .nav .card {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card .menu {
  padding: 10px 0;

  .menu-item {
    margin: 3px 0;
    padding: 0 10px;
  }
  
  .menu-item:hover {
    color: $accent-color;
  }
}

a:hover .svg-icon {
  fill: $accent-color;
}
.svg-icon {
  width: 20px;
  height: 20px;
  fill: $menu-text-color;
}



.container header.post-header, .container header.page-header {
  margin-top: 20px;
}

.inner :first-child {
  margin-top: 0;
}

.page-image {
  width: 90%;
  max-width: 40rem;
  font-size: 0.9rem;
  line-height: 1.3rem;
  margin: 0 auto;
}

.page-image img {
  max-width: 100%;
  max-height: 100%;
}

.color-scheme-bg {
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  height: 100px;

  .color-scheme-row {
    align-content: center;
  }
  
  .color-scheme-row:first-child {
    padding-bottom: 1rem;
  }

  .color-scheme-row > div {
    flex: 1;
    margin: 0 auto;
    text-align: center;
  }
}

.card.color-scheme {
  margin-bottom: 20px;
  .color-scheme-title {
    color: black;
    border-bottom: 1px solid black;
  }
}

.card.color-scheme:hover {
  border-color: $accent-color;

  .color-scheme-title {
    border-bottom: 0;
    color: $accent-color;
  }
}

