.hack {
  h1, h2, h3, h4, h5, h6 {
    font-family: $monospace;
    font-size: 1.2rem;
  }

  a, strong, em, code {
    font-size: 1em;
  }

  p, li, blockquote {
    font-family: $serif;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2em;
  }

  blockquote::after {
    line-height: 2em;
  }

  hr::after {
    content:
    "------------------------------------------------------------------------------------------------------------------------------------------------------------------";
  }

  a:hover .svg-icon {
    fill: $accent-color;
  }

  .svg-icon {
    width: 20px;
    height: 20px;
    fill: $menu-text-color;
  }
}
