.hack pre code {
  font-size: 1.05rem;
  line-height: 2rem;

  .c {
    font-style: italic;
    color: $trmlightblack;
  }

  .s, .s2 {
    color: $trmwhite;
  }

  .k, .ow {
    color: $trmlightmagenta;
    font-weight: bold;
  }

  .nb {
    color: $trmcyan;
  }

  .p {
    color: $trmblue;
  }

  .mf {
    color: $trmmagenta;
  }
  
  .o { font-weight: bold; color: $trmblack; }
}
