.hack nav {
  div.wrapper {
    margin-right: 2rem;
    font-size: 1em;
  }

  .card {
    margin-top: 20px;
    margin-bottom: 20px;

    .menu { padding: 10px 0; }

    .menu-item {
      margin: 3px 0;
      padding: 0 10px;

      &:hover { color: $accent-color; }
    }
  }

  a {
    font-size: 0.8em;
  }
}
