.postlist {
  .post-li {
    margin-bottom: 1.5em;

    .post-li-body {
      display: table-cell;
      vertical-align: top;

      .post-li-meta {
        margin-top: 20px;

        .date {
          @extend %metadata-font;
          @extend %font-size-sm;
          color: #b5b5b5;
          margin-top: 0;
          margin-bottom: 0.5em;
        }
      }

      .post-li-title h2 {
        &::before { content: none; }

        a { font-size: 1.4em; }
      }

      .post-li-desc {
        p {
          margin-bottom: 0.6em;
        }
      }

      .post-li-categories {

        p {
          @extend %category-font;
          @extend %font-size-xs;
          display: inline-block;
          margin: 0;
        }

        ul {
          display: inline-block;
          margin: 0;
        }

        li {
          @extend %category-font;
          @extend %font-size-xs;
          margin: 0;
          padding: 0;
          &::after {
            content: none;
          }
        }
      }
    }
  }
}

.new-content {
  ul.new-content {
    margin-top: 0;
    & > li {
      display: flex;
      padding-left: 0;

      &::after {
        content: none;
      }

      .date {
        width: 6em;
        font-weight: bold;
      }

      .layout-type-title { flex: 1 1; }
    }
  }
}
