[class^="language"] {
  --foreground: #e0e0e0;
  --purple: #b59bff;
  --peach: #ffc3c3;
  --pink: #ff76ce;

  color: var(--foreground);
}

.token {
  &.number {
    background-color: none;
    align-items: unset;
    border-radius: unset;
    display: unset;
    font-size: unset;
    height: unset;
    justify-content: unset;
    margin-right: unset;
    min-width: unset;
    padding: unset;
    vertical-align: unset;
  }

  &.atrule {
    color: var(--purple);
  }

  &.attr-name {
    color: #39adb5;
  }

  &.attr-value {
    color: #f6a434;
  }

  &.attribute {
    color: #f6a434;
  }

  &.boolean {
    color: var(--purple);
  }

  &.builtin {
    color: #39adb5;
  }

  &.cdata {
    color: #39adb5;
  }

  &.char {
    color: #39adb5;
  }

  &.class {
    color: #39adb5;
  }

  &.class-name {
    color: #6182b8;
  }

  &.comment {
    font-style: italic;
    color: #8f9fa7;
  }

  &.constant {
    color: var(--purple);
  }

  &.deleted {
    color: var(--pink);
  }

  &.doctype {
    color: #aabfc9;
  }

  &.entity {
    color: var(--pink);
  }

  &.function {
    color: var(--peach);
  }

  &.hexcode {
    color: #f76d47;
  }

  &.id {
    color: var(--purple);
    font-weight: bold;
  }

  &.important {
    color: var(--purple);
    font-weight: bold;
  }

  &.inserted {
    color: #39adb5;
  }

  &.keyword {
    color: var(--purple);
  }

  &.number {
    color: #f76d47;
  }

  &.operator {
    color: #39adb5;
  }

  &.prolog {
    color: #aabfc9;
  }

  &.property {
    color: #39adb5;
  }

  &.pseudo-class {
    color: #f6a434;
  }

  &.pseudo-element {
    color: #f6a434;
  }

  &.punctuation {
    color: #39adb5;
  }

  &.regex {
    color: #6182b8;
  }

  &.selector {
    color: var(--pink);
  }

  &.string {
    color: #00905b;
  }

  &.symbol {
    color: var(--purple);
  }

  &.tag {
    color: var(--pink);
  }

  &.unit {
    color: #f76d47;
  }

  &.url {
    color: var(--pink);
  }

  &.variable {
    color: var(--pink);
  }
}
