@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

$body-font-size: 18px;

$family-sans-serif: "Public Sans", BlinkMacSystemFont, -apple-system, sans-serif;
$family-monospace: "Fira Code", "Inconsolata", monospace;

@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma/sass/helpers/color.sass";

@import "prism.scss";

.home {
  --color: #{$black};
  --bg: #{$red};
  --emoji: "🏠";
}

.terminal-themes {
  --postType: "terminal theme";
  --color: #{$black};
  --bg: #{$yellow};
  --emoji: "✨";
}

.posts {
  --postType: "blog post";
  --color: #{$black};
  --bg: #{$turquoise};
  --emoji: "📓";
}

.hljs {
  background: none;
  padding: 0;
}

header {
  & > div {
    border-bottom: 3px solid #{$black};
  }

  nav {
    .navbar-item {
      text-decoration: underline;
      text-decoration-color: var(--bg);
      text-decoration-style: wavy;

      &:before {
        content: var(--emoji) + " ";
      }

      &:hover,
      &:focus,
      &:focus-within,
      &.is-active {
        color: var(--bg);
      }
    }
  }
}

article.card {
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;

  // &:hover {
  //   box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
  //     0 0px 0 1px var(--bg);
  // }

  &:before {
    @extend .is-size-7, .tag;
    position: absolute;
    content: var(--postType);
    color: var(--color) !important;
    background-color: var(--bg) !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }

  .content {
    time.subtitle {
      display: block;

      & + h1:not(:first-child) {
        margin-top: 0;
      }
    }
  }
}

.content {
  pre {
    @extend .box;
    box-shadow: none;
    background-color: $white-bis;
  }

  h1 {
    font-size: 1.7em;
  }
}

// .excerpt {
//   // max-height: 200px;
//   // overflow: hidden;
//   // position: relative;

//   // &:before {
//   //   content: "";
//   //   display: block;
//   //   position: absolute;
//   //   width: 100%;
//   //   height: 100%;
//   //   background: linear-gradient(
//   //     180deg,
//   //     transparent,
//   //     rgba(255, 255, 255, 0.2) 80%,
//   //     white
//   //   );
//   // }
// }
