@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
@import "../node_modules/bulma/sass/helpers/color.sass";

$body-font-size: 16px;

$gap: 10px;

$family-sans-serif: "Public Sans", BlinkMacSystemFont, -apple-system, sans-srif;
$family-monospace: "Fira Code", "Inconsolata", monospace;
$body-color: $black-bis;
$family-primary: $family-sans-serif;

$box-shadow: none;
$box-radius: $radius;
$box-padding: 1rem;

@import "../node_modules/bulma/bulma.sass";

@import "prism.scss";

.home {
  --color: #{$black};
  --bg: #{$red};
  --emoji: "🏠";
  --invert: #{$red-invert};
}

.terminal-themes {
  --postType: "terminal theme";
  --color: #{$black};
  --bg: #{$yellow};
  --emoji: "✨";
  --invert: #{$yellow-invert};
}

.posts {
  --postType: "blog post";
  --color: #{$black};
  --bg: #{$turquoise};
  --emoji: "📓";
  --invert: #{$turquoise-invert};
}

.hljs {
  background: none;
  padding: 0;
}

html {
  background: $dark;
  height: 100%;
}

body {
  height: 100%;
}

.wavy-underline {
  text-decoration: underline;
  text-decoration-color: var(--bg);
  text-decoration-style: wavy;
}

header {
  & > div {
    border-bottom: 3px solid #{$black};
  }

  nav {
    .menu-list-item {
      text-decoration: underline;
      text-decoration-color: var(--bg);
      text-decoration-style: wavy;

      &:before {
        content: var(--emoji) + " ";
      }

      &:hover,
      &:focus,
      &:focus-within,
      &.is-active {
        background: var(--bg);
        color: var(--invert);
        text-decoration-color: var(--invert);
      }
    }
  }
}

.has-background-dark {
  .title,
  .menu-list a {
    color: $dark-invert;
  }
}

article.box {
  // margin-top: 1rem;
  // margin-bottom: 1rem;
  // position: relative;

  // &:hover {
  //   box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
  //     0 0px 0 1px var(--bg);
  // }

  // &:before {
  //   @extend .is-size-7, .tag;
  //   position: absolute;
  //   content: var(--postType);
  //   color: var(--color) !important;
  //   background-color: var(--bg) !important;
  //   border-top-right-radius: 0 !important;
  //   border-bottom-left-radius: 0 !important;
  // }

  .content {
    font-size: 1.1em;
    time.subtitle {
      display: block;
      color: inherit;
    }
  }

  .card-content {
    &:hover {
      cursor: pointer;
    }
  }
}

.content {
  pre {
    @extend .box;
    box-shadow: none;
    background-color: $white-bis;
  }

  h1 {
    // font-size: 1.7em;
  }

  // .post-title h1 {
  //   color: $body-color;
  // }

  .post-summary {
    // color: $grey-dark;

    & > a {
      color: inherit;
    }
  }

  // .post-time {
  //   color: $grey;
  // }
}

.terminal-themes {
  .is-family-monospace {
    font-size: 0.8rem;
  }
}

.site-title-and-nav {
  border-right: 4px solid $black;
}

.site-nav-menu {
  font-size: 1.18rem !important;
}

.site-layout {
  min-height: 100%;

  main {
    background: $white;
  }
}

.latest-post {
  border-bottom: 3px solid $grey-lighter;
}
