.color-blue
  color: $blue !important

.rst-header
  margin-bottom: 0
  overflow: hidden
  position: relative
  padding-bottom: 0.5em

.rst-ul
  &:before
    content: "-"
    position: relative
    right: 1em

body
  font-size: $size-6

a
  text-decoration: underline
  &:hover
    // @extend .color-blue
    text-decoration: none

header
  @extend .family-monospace
  font-size: 1.5em
  a
    text-decoration: none
    &:hover
      // @extend .color-blue
      border-bottom: 1px solid $blue

nav
  @extend .family-monospace
  font-size: 1.25em
  li a
    text-decoration: none
  @include touch
    font-size: $size-7

.override
  *
    @extend .color-blue
  .content
    h1, h2, h3, h4, h5, h6
      @extend .family-monospace // , .color-blue
      font-weight: 500
    h1, h2
      @extend .rst-header
      font-weight: normal
    h1
      font-size: 1.5em
      @include rst-header-after("=")

    h2
      font-size: 1.25em
      @include rst-header-after("-")
    h3
      font-size: $size-6
    strong
      // @extend .color-blue
    ul
      list-style: none
      li
        @extend .rst-ul
    code
      // @extend .color-blue

