// fonts
%metadata-font { font-family: $monospace; }
%category-font { font-family: $monospace; }
%font-size-sm { font-size: 1.2rem; }
%font-size-xs { font-size: 0.8rem; }

%top-margin { margin-top: 20px; }

%blue-border { border: 1px solid $blue; }
