@import url('https://fonts.googleapis.com/css?family=Fira+Mono')

$family-primary: 'Georgia', serif
$family-monospace: 'Fira Mono', monospace
$size-1: 2.5rem
$size-2: 2rem
$size-3: 1.75rem
$size-4: 1.5rem
$size-5: 1.25rem
$size-6: 1.2rem
$size-7: 1rem
$blue: hsl(227, 100, 36)
$text: $blue
$box-radius: 0
$box-shadow: none
