.hack, .hack blockquote, .hack code, .hack em, .hack h1, .hack h2, .hack h3, .hack h4, .hack h5, .hack h6, .hack strong { font-family: "Fira Mono", monospace; font-size: 1.2rem; }

.hack hr::after { content: "------------------------------------------------------------------------------------------------------------------------------------------------------------------"; }

.container.header { margin-top: 4rem; }
.container.header header h1 { line-height: 1rem; font-size: 2.6rem; padding-bottom: 40px; }
.container.header header a { color: black; border-bottom: 0; }
.container.header header a + a::before { font-size: 2.6rem; content: "/"; position: relative; margin: 0 8px; }
.container.header header a:hover { color: #ff2e88; background-color: transparent; }
.container.header header a + a:hover::before { color: black; }
.container.header header .parent-page::before { content: "*"; position: relative; }

.container.main { max-width: 80rem; min-height: 5rem; }
.container.main footer { font-size: 0.9rem; }

.container.content { min-height: 700px; padding-bottom: 10rem; }

.main .nav div.wrapper { margin-right: 2rem; font-size: 0.78em; }

.main .nav .card { margin-top: 20px; margin-bottom: 20px; }

.card .menu { padding: 10px 0; }
.card .menu .menu-item { margin: 3px 0; padding: 0 10px; }
.card .menu .menu-item:hover { color: #ff2e88; }

a:hover .svg-icon { fill: #ff2e88; }

.svg-icon { width: 20px; height: 20px; fill: #616161; }

.container header.post-header, .container header.page-header { margin-top: 20px; }

.inner :first-child { margin-top: 0; }

.page-image { width: 90%; max-width: 40rem; font-size: 0.9rem; line-height: 1.3rem; margin: 0 auto; }

.page-image img { max-width: 100%; max-height: 100%; }

.color-scheme-bg { flex-direction: column; justify-content: center; padding: 2rem; }
.color-scheme-bg .color-scheme-row { align-content: center; }
.color-scheme-bg .color-scheme-row:first-child { padding-bottom: 1rem; }
.color-scheme-bg .color-scheme-row > div { flex: 1; margin: 0 auto; text-align: center; }

.card.color-scheme { margin-bottom: 20px; }
.card.color-scheme .color-scheme-title { color: black; border-bottom: 1px solid black; }

.card.color-scheme:hover { border-color: #ff2e88; }
.card.color-scheme:hover .color-scheme-title { border-bottom: 0; color: #ff2e88; }
