<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Ashley Trinh</title>
<link rel="icon" href="/static/favicon.png" />

<link rel="stylesheet" href="/static/styles.css" />
<link rel="stylesheet" href="/static/prism.css" />
<link rel="stylesheet" href="/static/fontawesome.css" />

<script src="https://cdn.jsdelivr.net/gh/cferdinandi/gumshoe@4.0/dist/gumshoe.polyfills.min.js"></script>
