<ul class="is-flex">
  <li>
    <a class="navbar-item home" href="/">
      Home
    </a>
  <li>
  {%- for category in collections.categories %}
    <li>
      <a class="navbar-item {{ category.slug }}" href="/{{ category.slug }}">
        {{ category.title }}
      </a>
    </li>
  {%- endfor %}
</ul>
