<ul class="site-nav-menu menu-list">
  <li>
    <a class="menu-list-item home {% if page.url == '/' %}is-active{% endif %}" href="/">
      Home
    </a>
  <li>
  {%- for category in collections.categories %}
    {%- set categoryURL = '/' + category.slug + '/' %}
    {%- set isActiveCategory = page.url == categoryURL or page | getParentURL == categoryURL %}
    <li>
      <a
        class="menu-list-item {{ category.slug }} {% if isActiveCategory %}is-active{% endif %}" href="{{ categoryURL }}">
        {{ category.title }}
      </a>
    </li>
  {%- endfor %}
</ul>