{% macro continueBtn(postUrl, label, icon='fa-arrow-right') %}
<p>
  <a href="{{ postUrl }}" class="button">
    <span class="icon is-small">
      <i class="fas {{ icon }}"></i>
    </span>
    <span>{{ label }}</span>
  </a>
</p>
{% endmacro %}

{% macro timestampLink(dt, linkUrl) %}
<a class="post-time mt-3 has-text-grey-light is-block" href="{{ linkUrl }}">
  <time
    datetime="{{ dt.toUTCString() }}"
    class="is-size-7">
      {{ dt | displayDate }}
  </time>
</a>
{% endmacro %}

<article class="box {{ post.data.category }} my-2">

  <div class="content" data-url="{{ post.url }}">
    <a class="post-title has-text-dark" href="{{ post.url }}">
      <h1 class="is-size-5 mb-3">{{ post.data.title }}</h1>
    </a>

    {%- if post.data.category === "posts" %}
      <a class="post-summary has-text-grey is-size-6" href="{{ post.url }}">
        {{ post.data.summary | markdownit | safe }}
      </a>

    {%- elif post.data.category === "terminal-themes" %}
      {% set colors = post.data.colors %}
      {% set bg = post.data.bg %}
      {% include "includes/themeColors.njk" %}
    {%- endif %}

    {{ timestampLink(post.date, post.url) }}
  </div>

</article>