{% macro continueBtn(postUrl, label, icon='fa-arrow-right') %}
<p>
  <a href="{{ postUrl }}" class="button">
    <span class="icon is-small">
      <i class="fas {{ icon }}"></i>
    </span>
    <span>{{ label }}</span>
  </a>
</p>
{% endmacro %}

{% macro timestampLink(dt, linkUrl) %}
<a class="post-time" href="{{ linkUrl }}">
  <time
    datetime="{{ dt.toUTCString() }}"
    class="subtitle is-6 mt-4 mb-0">
      {{ dt | displayDate }}
  </time>
</a>
{% endmacro %}

<article class="card {{ post.data.category }}">
  <div class="card-content" data-url="{{ post.url }}">
    <div class="content">
      <a class="post-title" href="{{ post.url }}"><h1>{{ post.data.title }}</h1></a>

      {%- if post.data.category === "posts" %}
        <a class="post-summary" href="{{ post.url }}">
          {{ post.data.summary | markdownit | safe }}
        </a>

      {%- elif post.data.category === "terminal-themes" %}
        {% set colors = post.data.colors %}
        {% set bg = post.data.bg %}
        {% include "includes/themeColors.njk" %}
      {%- endif %}

      {{ timestampLink(post.date, post.url) }}
    </div>
  </div>
</article>