<div class="box is-size-7-mobile" style="background-color: {{ bg }};">
  <div class="level is-flex">
    {% for color, val in colors %}
      {% if not color.includes('light_') %}
      <div class="level-item has-text-centered">
        <p class="is-family-monospace" style="color: {{ val }};">
          {{ color }}
        </p>
      </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="level is-flex">
    {% for color, val in colors %}
      {% if color.includes('light_') %}
      <div class="level-item has-text-centered">
        <p class="is-family-monospace" style="color: {{ val }};">
          {{ color.split('').slice(6).join('') }}
        </p>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>