---
layout: default
---
<div class="container">
  <header class="page-header">
    <h1>Terminal Color Schemes</h1>
  </header>
  {%- assign color_schemes = site.posts | where: "layout","color-scheme" -%}
  {%- for post in color_schemes -%}
  <div>
    <a href="{{ post.url | relative_url }}">
      <div class="card color-scheme">
        <div class="card-body">
          <div class="inner">
            <p>
              <span class="color-scheme-title">
                {{ post.title | escape }}
              </span>
            </p>
            {%- include color-scheme.html colors=post.colors -%}
          </div>
        </div>
      </div>
    </a>
  </div>
  {%- endfor -%}
</div>
