---
layout: default
---

<div class="container grid">
  <article class="post cell -12of12">
    <header class="post-header">
      <h2 class="post-title">{{ page.title | escape }}</h2>
    </header>

    <div class="post-content cell -12of12">
      {%- include color-scheme.html colors=page.colors -%}  
      {{ content }}
      <h3>Download:</h3>
      <ul>
        <li><a href="{{ page.downloads.kitty }}">kitty.conf</a></li>
        <li><a href="{{ page.downloads.xresources }}">.Xresources</a></li>
      </ul>
    </div>
  </article>
</div>
