---
layout: default
---

<div class="container grid">
  <article class="color-scheme-post post cell -12of12">
    <header class="post-header">
      <h1 class="post-title">{{ page.title | escape }}</h1>
    </header>

    <div class="post-content cell -12of12">
      {%- include color-scheme.html colors=page.colors -%}  
      {{ content }}
      <h2>Download:</h2>
      <ul>
        <li>
          <a href="{{ site.github_raw }}{{ page.downloads.kitty }}">
            kitty.conf
          </a>
        </li>
        <li>
          <a href="{{ site.github_raw }}{{ page.downloads.xresources | escape }}">
            .Xresources
          </a>
        </li>
      </ul>

      {%- if page.screenshots -%}
        <h2>Screenshots:</h2>
        {%- for img_url in page.screenshots -%}
          <div class="page-image">
            <div class="image-container">
              <img src="{{ img_url | escape }}">
            </div>
          </div>
        {%- endfor -%}
      {%- endif -%}
    </div>
  </article>
</div>
