---
layout: default
---

<div class="container grid">
  <article class="post cell -12of12">
    <header class="post-header">
      <h2 class="post-title">{{ page.title | escape }}</h2>
    </header>

    <div class="post-content cell -12of12">
      {%- include color-scheme.html colors=page.colors -%}  
      {{ content }}
      <h3>Download:</h3>
      <ul>
        <li>
          <a href="{{ site.github_raw }}{{ page.downloads.kitty }}">
            kitty.conf
          </a>
        </li>
        <li>
          <a href="{{ site.github_raw }}{{ page.downloads.xresources | escape }}">
            .Xresources
          </a>
        </li>
      </ul>

      {%- if page.screenshots -%}
        <h3>Screenshots:</h3>
        {%- for img_url in page.screenshots -%}
          <div class="page-image">
            <div class="alert alert-info">
              <img src="{{ site.github_raw }}{{ img_url | escape }}">
            </div>
          </div>
        {%- endfor -%}
      {%- endif -%}
    </div>
  </article>
</div>
